html, body{
    background-color: #ecf0f1;
    padding: 0px;
    margin: 0px;
}

.progress1{
    margin-top: 300px;
    display: flex;
    position: relative;
    justify-items: center;
    text-align: center;
    width: 400px;
    height: 20px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.1);
    margin-left: 400px;
    overflow: hidden;
    box-shadow: inset 0 1px 2px rgba(0, 0,0, 0.25), 0 1px rgba(255, 255, 255, 0.8)
}

.bar1 {
    display: inline-block;
    justify-content: center;
    position: absolute;
    margin-top: 2px;
    width: 380px;
    height: 16px;
    vertical-align: middle
}

.bar1::after{
    content:"";
    position: absolute;
    background-image: linear-gradient(45deg,  rgba(0,0,0,0) 25%, #e74c3c 25%,  #e74c3c 50%,
    rgba(0,0,0,0) 50%, rgba(0,0,0,0) 75%, #e74c3c 75%,
     rgba(0,0,0,0) 75%, #e74c3c 75%, #e74c3c 100%);
    left:0;

    background-size: 20px 20px;
    width: 400px;
    height: 16px;
    opacity: 0.9;
    animation: loading1 4s infinite linear;
}

@keyframes loading1{
    0%{
        width: 0%;
    }
    90%{
        width: 100%;
    }
}

.progress2 {
    font-size: 16px;
    position: relative;
    height: 20px;
    width: 450px;
    display: block;
    margin-top: 300px;
    margin-left: 400px;
    background-color: rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.bar2{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    /* margin-top: 2px; */
    height: 16px;
    /* width: 450px; */
    background-size: 100%;
    
    background-image: linear-gradient(to bottom, #27ae60, #16a085);
    animation: p2  3s infinite linear;
}

.bar2::before{
    display: inline-block;
    position: absolute;
    content: "";
    right: 0;
    width: 0;
    height: 0;
    bottom: 100%;
    border: 10px solid transparent;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-color: rgba(0, 0, 0 ,1);
}

.bar2::after{
    display: inline-block;
    position: absolute;
    content: attr(data-label);
    /* left:0px; */
    right: 0;
    font-size: 0.8rem;
    border-radius: 3px;
    padding: 5px;
    bottom: calc(100% + 9px);
    color: #fff;
    z-index: 1;
    background-color: rgba(0, 0, 0, 1);
}

@keyframes p2{
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}